.row-header{
  font-size: 16px;
  padding: 20px 1%;

}

.row{
  position: relative;
  display: flex;
  align-items: center;
}

.rows{
  display: flex; 
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.rows::-webkit-scrollbar{
  width: 0;
  
}

.row-images{
  position: relative;
  margin-right: 10px;
}


.row-images img{
  width: 160px;
  
}

.img-overlay{
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in;
}


.img-overlay:hover{
  position: absolute;
  opacity: 100;
  top: 0;
  left: 0;
  width: 160px;
  height: 100%;
  background-color: black;
  font-size: 10px;
}

.img-overlay p{
  position: absolute;
  top: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.row-heart{
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 14px;
}

.left-btn{
  position: absolute;
  z-index: 10;
  font-size: 25px;
  color: red;
  background-color: rgba(255, 255, 255,0.5);
  border-radius: 50%;
  display: flex;
  align-self: center;
  left: 5px;
  top: 35px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.left-btn:hover{
  background-color: white;
} 

.right-btn{
  position: absolute;
  font-size: 25px;
  z-index: 400;
  color: red;
  background-color: rgba(255, 255, 255,0.5);
  border-radius: 50%;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  right: 5px;
  top: 35px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  box-sizing: border-box;
}

.right-btn:hover{
  background-color: white;
}

